# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\frhaj\Desktop\SEMAINE_7\CREER_UNE_BASE_DE_DONNEES\2_CREER_LA_BASE_DE_DONNEES\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
